<div class="w-full max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-gray-900">New Client</h1>
  </div>

  <div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
    <%= render 'form', client: @client %>
  </div>
</div>
